@import "tailwindcss";

:root {
    /* Colors */
    --background: #efefef;
    --foreground: #171717;
    --primary: #031d40;
    --secondary: #e79a43;
    --paragraph: #4c4c4c;
    --placeholder: #fff;
    --gold-placeholder: #c2961d;
    
    /* Fonts */
    --font-heading: "Syne", sans-serif;
    --font-body: "Montserrat", sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 700;
}

p {
    color: var(--paragraph);
}

.gold-gradient-text {
    background: linear-gradient(
        to bottom,
        #ebc980 0%,
        #b48811 50%,
        #a2790d 51%,
        #bb9b49 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main-color {
    color: var(--primary);
}

.primary-title {
    @apply text-4xl font-bold;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.botoes {
    background-color: var(--primary);
    color: var(--placeholder);
    padding: 0.4rem 1.4rem;
    font-family: var(--font-heading);
    font-weight: 700;
    cursor: pointer;
}

.botoes:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

/* Navbar */
.orcamento-btn {
    background-color: var(--primary);
    color: var(--placeholder);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
}

.orcamento-btn:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

/* Serviços */
.servico-card {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 1rem;
    border-radius: 20px;
}

/* Admin Page */
.Cadeiras-tag {
    @apply bg-blue-100 text-blue-800;
}

.Armários-tag {
    @apply bg-green-100 text-green-800;
}

.Mesas-tag {
    @apply bg-yellow-100 text-yellow-800;
}

.categoria-btn {
    background-color: var(--placeholder);
    padding: 0.4rem 1rem;
    border: #d7d7d7 1px solid;
    border-radius: 0.4rem;
    padding: 0.4rem 1.4rem;
    font-family: var(--font-heading);
    font-weight: 700;
    cursor: pointer;
}

.categoria-btn:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

/* Embla Carousel Styles */
.embla {
    margin: auto;
    --slide-height: auto;
    --slide-spacing: 1rem;
    --slide-size: 70%;
}

@media (min-width: 640px) {
    .embla {
        --slide-size: 40%;
        --slide-spacing: 2rem;
    }
}

@media (min-width: 768px) {
    .embla {
        --slide-size: 50%;
    }
}

@media (min-width: 1024px) {
    .embla {
        --slide-size: 30%;
    }
    
}

.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}
.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 0.6rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    .embla__controls {
        gap: 1.2rem;
        padding: 0 2rem;
    }
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    align-items: center;
}

@media (min-width: 640px) {
    .embla__buttons {
        gap: 0.6rem;
    }
}

.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.15rem var(--paragraph);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .embla__button {
        width: 2.6rem;
        height: 2.6rem;
        box-shadow: inset 0 0 0 0.2rem var(--paragraph);
    }
}
.embla__button:disabled {
    color: var(--paragraph);
    opacity: 0.3;
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
}

@media (min-width: 640px) {
    .embla__dots {
        margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
    }
}

.embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (min-width: 640px) {
    .embla__dot {
        width: 1.6rem;
        height: 1.6rem;
    }
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.15rem var(--paragraph);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: "";
}

@media (min-width: 640px) {
    .embla__dot:after {
        box-shadow: inset 0 0 0 0.2rem var(--paragraph);
        width: 1.4rem;
        height: 1.4rem;
    }
}
.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--foreground);
    background-color: var(--foreground);
}
