
@import "tailwindcss";

:root {
  /* Colors */
  --background: #EFEFEF;
  --foreground: #171717;
  --primary: #031d40;
  --secondary: #e79a43;
  --paragraph: #4c4c4c;
  --placeholder: #fff;

  /* Fonts */
  --font-heading: 'Syne', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

p {
  color: var(--paragraph);
}

main-color {
  color: var(--primary);
}

.botoes {
  background-color: var(--primary);
  color: var(--placeholder);
  padding: 0.6rem 0.9rem;
  font-family: var(--font-heading);
  font-weight: 700;
}

/* Navbar */
.orcamento-btn {
  background-color: var(--primary);
  color: var(--placeholder);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

/* Hero */
