@import "tailwindcss";

:root {
    /* Colors */
    --background: #efefef;
    --foreground: #171717;
    --primary: #031d40;
    --secondary: #e79a43;
    --paragraph: #4c4c4c;
    --placeholder: #fff;

    /* Fonts */
    --font-heading: "Syne", sans-serif;
    --font-body: "Montserrat", sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 700;
}

p {
    color: var(--paragraph);
}

main-color {
    color: var(--primary);
}

.primary-title {
    @apply text-4xl font-bold;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.botoes {
    background-color: var(--primary);
    color: var(--placeholder);
    padding: 0.6rem 0.9rem;
    font-family: var(--font-heading);
    font-weight: 700;
}

/* Navbar */
.orcamento-btn {
    background-color: var(--primary);
    color: var(--placeholder);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
}

/* Serviços */
.servico-card {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
}

.gold-gradient-text {
    background: linear-gradient(
        to bottom,
        #ebc980 0%,
        #b48811 50%,
        #a2790d 51%,
        #bb9b49 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

